:root {
    --border-grey: #d8e1e1;
    --table-bg: hsla(220,9%,46%,.05);
    --scroll-bg: #6c757d;
}

/**
 * Button css.
 */
.btn-small {
    padding: 1px 7px;
}
.btn-small i {
    font-size: 13px;
}

/**
 * Table css.
 */
.own-table thead tr {
    border: 1px solid var(--border-grey);
    background: var(--table-bg);
}
.own-table thead tr {
    border-radius: 15px!important;
}
.own-table tbody tr {
    border: 1px solid var(--border-grey);
    border-top: none;
}
.own-table thead tr th,
.own-table tbody tr td {
    border-right: 1px solid var(--border-grey);
    padding: 5px 12px;
    font-size: 14px;
}
.table-responsive::-webkit-scrollbar {
    width: 0;
    height: 3px;
    background-color: var(--scroll-bg);
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: transparent;
}

